@use "../base/mixins";

.faq {
  text-align: left;

  &__search {
    &-input {
    }
  }

  &__nav {
    &-item {
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px 0;
  }

  &__group {
    @include mixins.reset-ul;
  }

  &__group {
    &-item {
      background-color: var(--color-gray-light);
      border-radius: var(--border-radius-big);
    }

    &-toggle {
      width: 100%;
      text-align: left;
    }
  }

  &__list {
    @include mixins.reset-ul;
    & {
      display: grid;
      grid-template-columns: 1fr;
      gap: 16px;
      margin: 24px 0;
    }

    &-wrapper {
      padding: 0 24px;
    }
  }

  &__item {
    padding: 0;

    &-question {
      padding: var(--card-padding);
    }

    &-answer {
      padding: 0 var(--card-padding);

      .collapse-content {
        margin: 0 0 var(--card-padding);

        > p {
          border-top: 1px solid var(--color-gray);
          padding-top: var(--card-padding);
          margin: 0;
        }
      }
    }
  }
}
