.page-contact {
  padding: 23px 0;

  @media (min-width: 750px) {
    padding-block: 43px 26px;
  }
  @media (min-width: 751px) and (max-width: 1300px) {
    padding: 34px 20px;
  }

  @media (min-width: 750px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: 1200px) {
    flex-direction: row;
    justify-content: space-between;
    padding-block: 34px;
  }

  &__title {
    display: none;
    margin: 0;

    @media (min-width: 750px) {
      font-family: var(--typo-font-family-secondary);
      font-size: var(--typo-font-size-xl);
      font-weight: 500;
      display: block;
      padding: 0;
    }

    @media (min-width: 750px) and (max-width: 1199px) {
      margin-bottom: 20px;
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px 29px;

    @media (min-width: 750px) {
      flex-direction: row;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;

    @media (min-width: 390px) {
      flex-direction: row;
    }

    @media (min-width: 750px) {
      gap: 20px;
    }
  }

  &__phone {
    display: flex;
    align-items: center;

    &-icon {
      width: 19px;
      height: 19px;

      > svg {
        width: 19px;
        height: 19px;
      }

      @media (min-width: 750px) {
        width: 31px;
        height: 31px;

        > svg {
          width: 31px;
          height: 31px;
        }
      }
    }

    &-number {
      font-family: var(--typo-font-family-secondary);
      font-size: var(--typo-font-size-m);
      font-weight: 500;
      color: var(--color-purple);
      margin-left: 4px;

      @media (min-width: 750px) {
        font-size: var(--typo-font-size-xxl);
      }
    }
  }

  &__availability {
    font-family: var(--typo-font-family-secondary);
    font-size: var(--typo-font-size-s);

    @media (min-width: 750px) {
      font-size: var(--typo-font-size-m);
    }
  }
}
