<div class="collapse-content" {{ block.shopify_attributes }} data-role="collapse">
  {%- if block.settings['faq-item-question'] != blank -%}
    <div class="faq__item-question" data-action="toggle">
      {{ block.settings['faq-item-question'] }}
    </div>
  {%- endif -%}

  {%- if block.settings['faq-item-answer'] != blank -%}
    <div class="faq__item-answear collapse-content-container">
      <div class="collapse-content">
        {{ block.settings['faq-item-answer'] }}
      </div>
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Question",
  "tag": "li",
  "class": "faq__item custom-card",
  "settings": [
    {
      "type": "text",
      "label": "Question",
      "id": "faq-item-question"
    },
    {
      "type": "richtext",
      "label": "Answer",
      "id": "faq-item-answer"
    }
  ],
  "presets": [
    {
      "name": "Question"
    }
  ]
}
{% endschema %}
