<div
  class="faq__group-list"
  data-type="faq-group"
  data-group-name="{{ block.settings.name }}"
  data-collapse-close-rest
  {{ block.shopify_attributes }}
>
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "FAQ group",
  "class": "faq__group",
  "settings": [
    {
      "type": "text",
      "label": "Group name",
      "id": "name"
    }
  ],
  "blocks": [
    {
      "type": "_faq-list"
    }
  ],
  "presets": [
    {
      "name": "FAQ group"
    }
  ]
}
{% endschema %}
