{% assign current_block_id = block.id %}
{% assign current_index = 0 %}

{% for block_item in section.blocks %}
  {% if block_item.id == current_block_id %}
    {% assign current_index = forloop.index %}
  {% endif %}
{% endfor %}

<div
  class="faq__group-list collapse-close-rest{% if current_index == 1 %} active{% endif %}"
  data-type="faq-group"
  data-group-name="{{ block.settings.name }}"
  {{ block.shopify_attributes }}
>
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "FAQ group",
  "class": "faq__group",
  "settings": [
    {
      "type": "text",
      "label": "Group name",
      "id": "name"
    }
  ],
  "blocks": [
    {
      "type": "_faq-list"
    }
  ],
  "presets": [
    {
      "name": "FAQ group"
    }
  ]
}
{% endschema %}
