<button class="faq__group-toggle custom-card custom-card--tight" data-action="toggle">
  {{ block.settings.name }}
</button>
<div class=" faq__list-wrapper collapse-content-container">
  <ul class="faq__list collapse-content collapse-close-rest" {{ block.shopify_attributes }}>
    {% content_for 'blocks' %}
  </ul>
</div>

{% schema %}
{
  "name": "Question",
  "class": "faq__group-item custom-collapse",
  "settings": [
    {
      "type": "text",
      "label": "List parent name",
      "id": "name"
    }
  ],
  "blocks": [
    {
      "type": "_faq-item"
    }
  ],
  "presets": [
    {
      "name": "Questions list"
    }
  ]
}
{% endschema %}
