<ul class="faq__group" data-collapse-close-rest {{ block.shopify_attributes }}>
  <li class="faq__group-item" data-role="collapse">
    <button class="faq__group-toggle custom-card custom-card--tight" data-type="faq-group" data-action="toggle">
      <p>
        {{ block.settings.name }}
      </p>
    </button>

    {% content_for 'blocks' %}
  </li>
</ul>

{% schema %}
{
  "name": "FAQ group",
  "settings": [
    {
      "type": "text",
      "label": "Group name",
      "id": "name"
    }
  ],
  "blocks": [
    {
      "type": "_faq-list"
    }
  ],
  "presets": [
    {
      "name": "FAQ group"
    }
  ]
}
{% endschema %}
