@mixin reset-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin btn-pill {
  &:any-link {
    text-decoration: none;
  }

  padding: 1.4rem 2.5rem;
  border-radius: 100vmax;
  transition: background-color 0.2s ease;
  font-family: var(--typo-font-family-secondary);
  font-weight: 500;
}

@mixin btn-pill-primary {
  background-color: var(--color-btn-primary-bg);
  border: 1px solid var(--color-btn-primary-border);
  color: var(--color-btn-primary-text);

  &:hover {
    background-color: var(--color-btn-primary-bg-hover);
    border-color: var(--color-btn-primary-border);
  }
}
