:root {
  // Colors
  --color-white: #fff;
  --color-gray: #c7d5da;
  --color-gray-light: #eaeaea;
  --color-gray-ultra-light: #f5f5f5;

  // Typography
  --typo-font-size-xl: 2.4rem;
  --typo-font-size-l: 2rem;
  --typo-font-size-m: 2rem;
  --typo-font-size-s: 1.6rem;

  // Utilities
  --bg-body: var(--color-grey-ultra-light);

  --border-radius-big: 24px;
  --border-radius-small: 12px;
}
