:root {
  // Colors
  --color-white: #fff;
  --color-gray: #c7d5da;
  --color-gray-light: #eaeaea;
  --color-gray-ultra-light: #f5f5f5;
  --color-green: #40eb8d;

  --color-navy-blue: #0a202e;

  --color-red: #eb4040;

  // Typography
  --typo-font-family-primary: "Poppins", "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif;
  --typo-font-family-secondary: "Rubik", "Noto Sans", "Helvetica Neue", Arial,
    sans-serif;
  --typo-font-size-xxxl: 3.2rem;
  --typo-font-size-xxl: 2.8rem;
  --typo-font-size-xl: 2.4rem;
  --typo-font-size-l: 2.2rem;
  --typo-font-size-m: 2rem;
  --typo-font-size-s: 1.6rem;

  // Spacing
  --space-section: 26px;

  // Utilities
  --bg-body: var(--color-grey-ultra-light);
  --color-text: var(--color-navy-blue);

  --border-radius-big: 24px;
  --border-radius-small: 12px;

  --card-padding: 20px;
  --card-tight-padding: 16px;

  @media (min-width: 490px) {
    --space-section: 43px;

    --card-padding: 36px;
    --card-tight-padding: 20px;
  }
}
