{% comment %}
  IDEA: Podział na bloki, nav budowana w JS oparta na kategoriach
   faq_search
   NAV (JS na podstawie 'faq_category')
   faq
     faq_group
       faq_list
         faq_item
{% endcomment %}

<div class="faq__search">
  <input class="faq__search-input" type="text">
</div>
<nav class="faq__nav" data-type="faq-nav"></nav>
<div class="faq__content">
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "FAQ",
  "class": "faq page-width",
  "tag": "section",
  "settings": [],
  "blocks": [
    {
      "type": "_faq-group"
    }
  ],
  "presets": [
    {
      "name": "FAQ",
      "blocks": []
    }
  ]
}
{% endschema %}
